<% content_for :body do %>
  <ul id="crop_images">
    <% @crop_images.each do |crop_image| %>
      <li>
        <%= link_to crop_image, refinery.crop_images_crop_image_path(crop_image) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render '/refinery/content_page' %>
